/* line 1, ../../sass/components/extra.scss */
.bg-image-1 {
  background-image: url("../img/tree.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 6, ../../sass/components/extra.scss */
.inherit {
  display: inherit;
}

/* line 7, ../../sass/components/extra.scss */
.nowrap {
  white-space: nowrap;
}

/* line 9, ../../sass/components/extra.scss */
.h-35em {
  height: 35em;
}

/* line 10, ../../sass/components/extra.scss */
.h-25em {
  height: 25em;
}

/* line 12, ../../sass/components/extra.scss */
.f-2em {
  font-size: 2em;
}

/* line 13, ../../sass/components/extra.scss */
.f-5 {
  font-size: .5em;
}

/* line 14, ../../sass/components/extra.scss */
.f-8em {
  font-size: 8em;
}

/* line 15, ../../sass/components/extra.scss */
.f-10em {
  font-size: 10em;
}

/* line 17, ../../sass/components/extra.scss */
.margin-top-2 {
  margin-top: 2.5em;
}

/* line 18, ../../sass/components/extra.scss */
.margin-right-20px {
  margin-right: 20px;
}

/* line 19, ../../sass/components/extra.scss */
.margin-40px-0 {
  margin: 40px 0;
}

/* line 21, ../../sass/components/extra.scss */
.text-vertical {
  writing-mode: vertical-lr;
}

/* line 22, ../../sass/components/extra.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 23, ../../sass/components/extra.scss */
.bold {
  font-weight: 700;
}

/* line 24, ../../sass/components/extra.scss */
.italic {
  font-style: italic;
}

/* line 26, ../../sass/components/extra.scss */
nav {
  box-shadow: none;
}
