/* line 1, ../../sass/components/extra.scss */
.bg-image-1 {
  background-image: url("../img/tree.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 6, ../../sass/components/extra.scss */
.inherit {
  display: inherit;
}

/* line 7, ../../sass/components/extra.scss */
.nowrap {
  white-space: nowrap;
}

/* line 8, ../../sass/components/extra.scss */
.width-100 {
  width: 100%;
}

/* line 9, ../../sass/components/extra.scss */
.grayscale {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* line 13, ../../sass/components/extra.scss */
.h-35em {
  height: 35em;
}

/* line 14, ../../sass/components/extra.scss */
.h-25em {
  height: 25em;
}

/* line 16, ../../sass/components/extra.scss */
.f-2em {
  font-size: 2em;
}

/* line 17, ../../sass/components/extra.scss */
.f-5 {
  font-size: .5em;
}

/* line 18, ../../sass/components/extra.scss */
.f-8em {
  font-size: 8em;
}

/* line 19, ../../sass/components/extra.scss */
.f-10em {
  font-size: 10em;
}

/* line 21, ../../sass/components/extra.scss */
.margin-top-2 {
  margin-top: 2.5em;
}

/* line 22, ../../sass/components/extra.scss */
.margin-right-20px {
  margin-right: 20px;
}

/* line 23, ../../sass/components/extra.scss */
.margin-40px-0 {
  margin: 40px 0;
}

/* line 25, ../../sass/components/extra.scss */
.padding-0 {
  padding: 0px !important;
}

/* line 27, ../../sass/components/extra.scss */
.text-vertical {
  writing-mode: vertical-lr;
}

/* line 28, ../../sass/components/extra.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 29, ../../sass/components/extra.scss */
.bold {
  font-weight: 700;
}

/* line 30, ../../sass/components/extra.scss */
.italic {
  font-style: italic;
}

/* line 32, ../../sass/components/extra.scss */
nav {
  box-shadow: none;
}

/* line 34, ../../sass/components/extra.scss */
.bg-project-1 {
  background-image: url("../img/img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  height: 300px;
}

/* line 42, ../../sass/components/extra.scss */
.bg-project-2 {
  background-image: url("../img/img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  height: 300px;
}

/* line 50, ../../sass/components/extra.scss */
.bg-project-3 {
  background-image: url("../img/img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  height: 300px;
}

/* line 58, ../../sass/components/extra.scss */
.bg-project-4 {
  background-image: url("../img/img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  height: 300px;
}
