.bg-image-1{
	background-image: url("../img/tree.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
}

.bg-image-2{
	background-image: url("../img/madera.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
}

.inherit{display: inherit;}
.relative{position: relative;}

.width-100{width: 100%;}
.grayscale{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
 	filter: grayscale(100%);}

.h-35em{height: 35em;}
.h-25em{height: 25em;}

.f-9em{font-size: .9em;}
.f1em{font-size: 1em;}
.f1-2{font-size:1.2em;}
.f-2em{font-size: 2em;}
.f-5{font-size: .5em;}
.f-8em{font-size: 8em;}
.f-10em{font-size: 10em;}

.margin-top-2{margin-top: 2.5em;}
.margin-bottom-7{margin-bottom: 7em}
.margin-right-20px{margin-right: 20px;}
.margin-40px-0{margin:40px 0;}
.margin-0-4em{margin:0 4em;}
.margin-0{margin:0px;}

.padding-0{padding:0px!important;}
.padding-top-bottom-3em{padding: 3em 0!important;}
.padding-left-20{padding-left: 20px;}
.padding-top-9em{padding-top: 9em;}

.text-vertical{writing-mode: vertical-lr;}
.uppercase{text-transform: uppercase;}
.bold{font-weight: 700;}
.italic{font-style: italic;}
.nowrap{white-space: nowrap;}
.letter-spacing-3{letter-spacing: 3px;}

nav{box-shadow: none;}
.box-sizing-0{box-sizing: none!important}


.bg-project-1{
	background-image: url("../img/img-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
 	filter: grayscale(100%);
 	height:300px;
}
.bg-project-2{
	background-image: url("../img/img-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
 	filter: grayscale(100%);
 	height:300px;
}
.bg-project-3{
	background-image: url("../img/img-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
 	filter: grayscale(100%);
 	height:300px;
}
.bg-project-4{
	background-image: url("../img/img-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
 	height:300px;
}

.hr-1{
	border-top: 2px solid #9e9d24;
	margin: 15px 24px;
}
