.bg-image-1{
	background-image: url("../img/tree.jpg");
	background-repeat: no-repeat;
	background-size: cover;
filter: sepia(100%) brightness(45%) hue-rotate(127deg) saturate(106%) contrast(155%);
-webkit-filter: sepia(100%) brightness(45%) hue-rotate(127deg) saturate(106%) contrast(155%);
-moz-filter: sepia(100%) brightness(45%) hue-rotate(127deg) saturate(106%) contrast(155%);

}

.bg-image-2{
	background-image: url("../img/madera.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
}

.inherit{display: inherit;}
.none{display: none;}
.relative{position: relative;}
.absolute{position: absolute;}
.fixed{position: fixed;}
.static{position: static;}

.absolute-top-3{
	top: 3%;
	position: absolute;
	right: 50%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.absolute-top-25vh{
	top: 25vh;
	position: absolute;
	right: 50%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.absolute-top-30{
	top: 30%;
	position: absolute;
	right: 50%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.absolute-top-70vh{
	top: 70vh;
	position: absolute;
	right: 50%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.width-100{width: 100%;}
.width-10em{width: 10em;}
.height-100{height: 100px!important;}
.height-100vh{height: 100vh;}
.height-80vh{height: 80vh!important;}
.height-50vh{height: 50vh;}
.height-45vh{height: 45vh;}
.height-20vh{height: 20vh;}

.grayscale{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
 	filter: grayscale(100%);}

.h-35em{height: 35em;}
.h-25em{height: 25em;}


.f1em{font-size: 1em;}
.f1-2{font-size:1.2em;}
.f-2em{font-size: 2em;}
.f2-5em{font-size: 2.5em;}
.f-3em{font-size: 3em;}
.f-5{font-size: .5em;}
.f-6em{font-size: .6em;}
.f-8em{font-size: 8em;}
.f-9em{font-size: .9em;}
.f-10em{font-size: 10em;}


.margin-top-2{margin-top: 2.5em;}
.margin-top-3{margin-top: 3em;}
.margin-bottom-7{margin-bottom: 7em;}
.margin-bottom-3{margin-bottom: 3em;}
.margin-right-20px{margin-right: 20px;}
.margin-40px-0{margin:40px 0;}
.margin-0-4em{margin:0 4em;}
.margin-0{margin:0px;}

.padding-top-3{padding-top: 3em;} 
.padding-bottom-4{padding-bottom:4em; } 

.padding-0{padding:0px!important;}
.padding-top-bottom-3em{padding: 3em 0!important;}
.padding-top-7em{padding-top: 7em;}
.padding-top-9em{padding-top: 9em;}
.padding-left-20{padding-left: 20px;}
.padding-left-40{padding-left: 40px!important;}
.padding-left-30{padding-left: 30px!important;}


.text-vertical{
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}

.vertical-center{
    position: absolute;
	left: 50%;
	top: 50%;
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.uppercase{text-transform: uppercase;}
.bold{font-weight: 700;}
.italic{font-style: italic;}
.nowrap{white-space: nowrap;}
.letter-spacing-3{letter-spacing: 3px;}

.montserrat{font-family: 'Montserrat', sans-serif;}
.playfair{font-family: 'Playfair Display', serif;}

nav{box-shadow: none;}
.box-sizing-0{box-sizing: none!important}


.bg-project-1{
	background-image: url("../img/img-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
 	height:50vh;
 	color:#fff;
 	&:hover{
		filter: sepia(100%) brightness(45%) hue-rotate(127deg) saturate(106%) contrast(155%);
		-webkit-filter: sepia(100%) brightness(45%) hue-rotate(127deg) saturate(106%) contrast(155%);
		-moz-filter: sepia(100%) brightness(45%) hue-rotate(127deg) saturate(106%) contrast(155%);
 	 }
}

.bg-project-2{
	background-image: url("../img/img-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
 	height:50vh;
 	background-position: center;
 	&:hover{
		filter: sepia(100%) brightness(45%) hue-rotate(127deg) saturate(106%) contrast(155%);
		-webkit-filter: sepia(100%) brightness(45%) hue-rotate(127deg) saturate(106%) contrast(155%);
		-moz-filter: sepia(100%) brightness(45%) hue-rotate(127deg) saturate(106%) contrast(155%);
 	 }
}
.bg-project-3{
	background-image: url("../img/img-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
 	height:50vh;
 	background-position: center;
 	&:hover{
		filter: sepia(100%) brightness(45%) hue-rotate(127deg) saturate(106%) contrast(155%);
		-webkit-filter: sepia(100%) brightness(45%) hue-rotate(127deg) saturate(106%) contrast(155%);
		-moz-filter: sepia(100%) brightness(45%) hue-rotate(127deg) saturate(106%) contrast(155%);
 	 }
}
.bg-project-4{
	background-image: url("../img/img-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
 	height:50vh;
 	background-position: center;
 	&:hover{
		filter: sepia(100%) brightness(45%) hue-rotate(127deg) saturate(106%) contrast(155%);
		-webkit-filter: sepia(100%) brightness(45%) hue-rotate(127deg) saturate(106%) contrast(155%);
		-moz-filter: sepia(100%) brightness(45%) hue-rotate(127deg) saturate(106%) contrast(155%);
 	 }
}

.hr-1{
	border-top: 2px solid #9e9d24;
	margin: 15px 24px;

}

.title{
	top: 45vh;
	position: absolute;
	right: 50%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

/*efecto texto*/

.text-intro{
	font-size:1.5em;
	color:#FAFAFA;
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;}
  
.dud{color: #757575;}

/* termina efecto texto*/
.corner-img{
	position: absolute;
	width: 10em;
	right:20px;
}
/*scrolling*/
// ---------- GENERAL STYLES ---------- //




// ---------- SCROLLING STYLES ---------- //

$panelcount: 5; // set # of panels/sections here

.wrapper{
  width: 100%;
  height: 100%;
  overflow: hidden;
  perspective: 1000;
}

.section {
  & {
    height: 100%;
    width: calc( 100%);
    float: left;


    // aesthetic only ----
    position: relative;
    
    $colors: #001D21, #001D21;
    @for $i from 1 through length($colors) {
      &:nth-child(#{$i}) {
        background: nth($colors, $i)
      }
    }
  }
  &s {
    width: percentage($panelcount);
    height: 100%;
  }
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    white-space: nowrap;
    
    font-size: 15em;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
  }
}